.partner{
    position: absolute;
    display: flex;
    top: 0%;
    height: 7%;
    top: 79%;
    left: 56%;
}
 


.partnerNothing{
    margin-left: 3%;
}

.partnerHeart{
    width: 200%;
    position: absolute;
    top: -100%;
}

.npcSwing{
top: 80%;
}