.jumpcrowd{
    display: flex;
    justify-content: space-between;
}



.minigamecrowd{

}



.avatar2{
    margin-left: 50px;
}

.avatar3{
    margin-left: 100px;
}

.avatar4{
    margin-left: 150px;
}

.avatar5{
    margin-left: 200px;
}

.avatar6{
    margin-left: 250px;
}

.avatar7{
    margin-left: 300px;
}

.avatar8{
    margin-left: 350px;
}

.avatar9{
    margin-left: 10px;
    width: 50px;
    height: 60px;
}

.avatar10{
    margin-left: 10px;
    width: 50px;
    height: 60px;
}
.avatar11{
    margin-left: 10px;
    width: 50px;
    height: 60px;
}
.avatar12{
    margin-left: 10px;
    width: 50px;
    height: 60px;
}
.avatar13{
    margin-left: 10px;
    width: 50px;
    height: 60px;
}


