.jumpcrowd{
    position: absolute;
    height: 8%;
    width: 15%;
    display: flex;
    top: 45%;
    left: 3%;
    /*background-color: chartreuse;*/
}



.minigamecrowd{
    position: absolute;
    left: 1100px;
    height: 100%;
    display: flex;
    top: 0%;
}



.avatar2{
    margin-left: 50px;
}

.avatar3{
    margin-left: 100px;
}

.avatar4{
    margin-left: 150px;
}

.avatar5{
    margin-left: 200px;
}

.avatar6{
    margin-left: 250px;
}

.avatar7{
    margin-left: 300px;
}

.avatar8{
    margin-left: 350px;
}

.avatar9{
    margin-left: 3%;
}

.avatar10{
    margin-left: 5%;
}
.avatar11{
    margin-left: 8%;
}
.avatar12{
    margin-left: 5%;
}
.avatar13{
    margin-left: 3%;
}


