.bottom{
    /* Rectangle 44 */

    position: absolute;
    width: 100%;
    height: 5%;
    left: 0px;
    top: 95%;
    display: flex;

    background: #F1EBFF;

}

.glowStickLogo{
    margin-left: 40%;
}

.heartLogo{
    margin-left: 5%;
}

.jumpLogo{
    margin-left: 45%;
}


