.bottom{
    /* Rectangle 44 */

    position: absolute;
    width: 100%;
    height: 5%;
    left: 0px;
    top: 95%;
    display: flex;

    background: #F1EBFF;

}


.heartLogo{
    margin-left: 35%;
    
}

.jumpLogo{
    margin-left: 10%;
}

.glow{
margin-left: 10%;
width: 5%;
}

